<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Airports</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	type="text/css" />
</head>
<body>
	<div class="container">
		<h2>Airports By Country</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Ident</th>
					<th>Type</th>
					<th>Name</th>
					<th>Latitude Deg.</th>
					<th>Longitude Deg.</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="listRow : ${airports}">
					<tr class="active">
						<td th:text="${listRow['ID']}"></td>
						<td th:text="${listRow['IDENT']}"></td>
						<td th:text="${listRow['TYPE']}"></td>
						<td th:text="${listRow['NAME']}"></td>
						<td th:text="${listRow['LATITUDE_DEG']}"></td>
						<td th:text="${listRow['LONGITUDE_DEG']}"></td>
					</tr>
					<tr th:if="${listRow['RUNWAYS'].size() > 0}">
						<td colspan="1"></td>
						<td colspan="5">
							<table class="table">
								<thead>
									<tr>
										<th>Id</th>
										<th>Surface</th>
										<th>Length</th>
										<th>Width</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="runway : ${listRow['RUNWAYS']}">
										<td th:text="${runway['ID']}"></td>
										<td th:text="${runway['SURFACE']}"></td>
										<td th:text="${runway['LENGTH_FT']}"></td>
										<td th:text="${runway['WIDTH_FT']}"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>

		<div class="row">
			<form class="pull-right" th:action="@{/query/findByCode/} + ${next}"
				method="post">
				<input type="hidden" name="code" th:value="${code}" />
				<button class="btn btn-default" type="submit">Next</button>
			</form>
			<form class="pull-right" th:action="@{/query/findByCode/} + ${prev}"
				method="post">
				<input type="hidden" name="code" th:value="${code}" />
				<button class="btn btn-default" type="submit">Previous</button>
			</form>
			<div class="row">
				<div class="btn btn-default">
					<a href="/query">Back</a>
				</div>
			</div>
		</div>

	</div>

</body>
</html>